body {
	background-color: black;
}

h1{
	color:purple;
	font-weight: 100;
	letter-spacing: 4px;
}

#viz {
  text-align: center;
}

#year{
	text-align: right;
	color:purple;
	font-size:18px;
}

#mapArea{
	display:inline-block;
}

.btn{
	margin-bottom: 5px;
	width:80px;
	color:green;
	background: none;
	border-color: green;
	font-weight: 200;
	letter-spacing: 1px;
}

.btn:hover{
	background: none;
	color: green;
	opacity: 0.8;
}

.btn-row{
	display:inline-block;
	width:100%;
	margin: 0 auto;
}

.ui-slider{
	background-image:none;
	background: purple;
	border:none;
}

.ui-widget-content { background: purple; opacity:0.5; }
.ui-widget-content .ui-state-default { background-image:none; background: #EE82EE; border-color:#EE82EE;}
.ui-state-focus{text-decoration: none; border:0px; background-image: none; outline: none;}
.ui-slider a {outline:none;}
.ui-slider-handle {background: purple; border:none; outline: none;}
.ui-slider-range{background: purple; opacity:0.5;}

#reset{
	width:97.5%;
}

#statsArea{
	display:inline-block;
}

path {
  stroke: fuchsia;
  /*stroke: #D3D3D3;*/
  stroke-width: 0.35px;
  fill: black;
}

circle{
	/*stroke:rgba(255,127,0,0.8);*/
}