body {
	background-color: black;
}

h1{
	color:purple;
}

#viz {
  text-align: center;
}

#mapArea{
	display:inline-block;
}

.btn{
	margin-bottom: 5px;
	width:80px;
	color:green;
	background: none;
	border-color: green;
	font-weight: 200;
	letter-spacing: 1px;
}

.btn:hover{
	background: none;
	color: green;
	opacity: 0.8;
}

.btn-row{
	display:inline-block;
	width:100%;
	margin: 0 auto;
}

#reset{
	width:97.5%;
}

#statsArea{
	display:inline-block;
}

path {
  /*stroke: fuchsia;*/
  stroke: grey;
  stroke-width: 0.35px;
  fill: black;
}

circle{
	/*stroke:rgba(255,127,0,0.8);*/
}